@charset "UTF-8";

// Manrope
@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/// Manrope light
@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

/// Manrope bold
@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./manrope/Manrope-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
